#pitboxBFB-RF-XS-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxBFB-RF-XS-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxBFB-RF-S-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxBFB-RF-S-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxGF-S-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxGF-S-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxGF-M-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxGF-M-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxGF-L-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxGF-L-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxGF-L-Plus-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxGF-L-Plus-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxWF-S-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxWF-S-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxWF-L-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxWF-L-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxWH-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxWH-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxD-Oven-S-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxD-Oven-S-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxD-Oven-L-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxD-Oven-L-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}
#pitboxComper-All-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxComper-All-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}

#pitboxY-series-details .pitbox-bkg {
	background-image:url(../images/bbq_bg1.jpg)
}
#pitboxY-series-details {
	font-family: 'Futura Bk BT';
	line-height:110%;
	font-weight:bold;
	font-size: 16px;
}
