a,
#home-slider .caption h1 span, 
#links-carousel .item span, 
#footer .footer-bottom, 
#single-portfolio .close-folio-item:hover, 
.single-table.featured .btn.btn-primary, 
.contact-info ul li a:hover, 
#footer .footer-bottom a  {
	color: #333FFF;
}

.btn.btn-primary:hover,
.btn-submit:hover {
  background-color: #474747;
}

a:hover, a:focus {
	color: #474747;
}

.main-nav, 
.service-icon, 
.progress-bar.progress-bar-primary, 
.single-table.featured, 
.btn.btn-primary, 
.links-icon .fa-links, 
.links-left-control:hover, .links-right-control:hover, 
.post-icon, 
.entry-header .date:after, 
.btn-loadmore:hover, 
.btn-submit,
#footer, 
.caption .btn-start:hover,

.folio-overview a:hover {
	background-color:#474747;
}

.left-control:hover, 
.right-control:hover {
	background-color:#474747;
}



.links-left-control:hover, 
.links-right-control:hover, 
.btn-loadmore:hover  {
	border: 1px solid #474747;
}

.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover {
	border-color: #474747;
}

.links-icon .fa-links:after {
	border-color: #333fff transparent transparent;
}
